@mixin button($background) {
  background: $background;
  display:inline-block;
  width: 70px;
  padding:9px 15px;
  border-radius:4px;
  border:1px solid grey;
  color:white;
  font-weight:100;
  font-family:helvetica;
  font-size:.8em;
  margin:0px 8px;
  box-shadow:inset 0 1px 1px $background;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #FEEFE1;
    text-align: center;
}

header {
    width: 100%;
    background: #485F6D;
    height:65px;

    #hamburger {
        width: 45px;
        display: inline-block;

        div {
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 2px 2px 2px 2px;
            height: 3px;
            margin-top: 5px;
            width: 90%;
            margin-left: -65px;
        }
    }

    h1 {
        display: inline-block;
        color: #fff;
        margin:14px 0 0 -30px;
        // float: right;
       // margin-bottom: 20px;
    }

}

#map-canvas {
    width: 100%;
    height: 40%;
    border-bottom: 5px solid #fff;
}

.blaze-btn {
    @include button(#D5753D);
    margin-top: 40px;
    width: 40%;
    font-size: 1em;
}

h2 {
    margin: 0;
    color: #444;
}

time {
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

.timer {
    display: inline-block;
    width:50%;
    padding:10px 0;
    float:left;
    margin:15px 0 10px 0;
}

.btn-red {
  &:hover {
    background:linear-gradient(#b80000,#750000);
  }
  @include button(#8F3B1B);
}

.btn-green {
  @include button(#D5753D);
}

.registration-container {
  text-align:center;
  background:#FEEFE1;
  height:100%;
  width:100%;
  padding-top:30px;
}

::-webkit-input-placeholder {
  color:#485F6D;
  font-size:1em;
}

.btn-sign-up {
  @include button(linear-gradient(#D5753D 25%,#de9468));
  padding:14px 28px;
  font-size:1.2em;
}

.btn-sign-up:active {
  @include button(linear-gradient(#b85d28,#dc8e60));
  padding:14px 28px;
  font-size:1.2em;
}

.registration {
  margin-bottom:20px;
  border:1px solid #999;
  outline:none;
  transition:all .2s ease;
  height:48px;
  width:80%;
  font-size:1em;
  border-radius:5px;
  background:#e3e9ed;
  color:#485F6D;
  box-shadow:inset 1px 1px 2px lightgrey;


  &:focus {
    border:#D5753D 1px solid;
    box-shadow:0 0 3px #d98554;
  }
}
